<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page</h1>




    <% for(let x=0; x < 10; x++) {%>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem cumque perspiciatis corporis natus
            suscipit
            consectetur quis explicabo, sint reprehenderit adipisci itaque pariatur quod dolores! Est optio neque eos
            harum!
            Excepturi.</p>
        <% } %>
</body>

</html>